@import url('https://fonts.googleapis.com/css?family=Roboto');
body	{
	background-color: #4f4f4f;
	color: #FFFFFF;
	font-family: 'Roboto';
}	

h2 {
	font-family: 'Roboto';
	color: #fff;
}

#inlogbox {
	background-color: #868585;
	width: 30%;
	height: 20%;
	margin: auto;
	margin-top: 15%;
	padding: 2%;
}
input {
	border: none;
	background-color: #444444;
	color: white;
	float: right;
}
#knop {
	font-family: 'Roboto';
	background-color: #444444;
	margin: auto;
	float: none;
}

#knop:hover {
	background-color: red;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: red;
}

a:active {
	
}